# Dependencies
/node_modules
/stagehand-browser/node_modules

# Stagehand-specific
/stagehand-browser/.env
/stagehand-browser/youtube-video.png

# Build output
/dist
/out

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db 
stagehand-browser/automation-results.png
*.wav

public/memory.json
public/personal_profile.json